<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nongxin.terminal.dao.envmonitor.EnvMonitorScMapper">
  <resultMap id="BaseResultMap" type="com.nongxin.terminal.entity.envmonitor.EnvMonitorSc">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="air_temperature" jdbcType="DECIMAL" property="airTemperature" />
    <result column="air_humidity" jdbcType="DECIMAL" property="airHumidity" />
    <result column="air_pressure" jdbcType="DECIMAL" property="airPressure" />
    <result column="wind_speed" jdbcType="DECIMAL" property="windSpeed" />
    <result column="wind_direction" jdbcType="DECIMAL" property="windDirection" />
    <result column="rainfall" jdbcType="DECIMAL" property="rainfall" />
    <result column="soil_temperature" jdbcType="DECIMAL" property="soilTemperature" />
    <result column="soil_humidity" jdbcType="DECIMAL" property="soilHumidity" />
    <result column="soil_ph" jdbcType="DECIMAL" property="soilPh" />
    <result column="monitor_time" jdbcType="TIMESTAMP" property="monitorTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="equipment_id" jdbcType="INTEGER" property="equipmentId" />
    <result column="factory_id" jdbcType="INTEGER" property="factoryId" />
  </resultMap>

  <resultMap id="BaseResultMap2" type="com.nongxin.terminal.entity.envmonitor.EnvMonitorSc">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="air_temperature" jdbcType="DECIMAL" property="airTemperature" />
    <result column="air_humidity" jdbcType="DECIMAL" property="airHumidity" />
    <result column="air_pressure" jdbcType="DECIMAL" property="airPressure" />
    <result column="wind_speed" jdbcType="DECIMAL" property="windSpeed" />
    <result column="wind_direction" jdbcType="DECIMAL" property="windDirection" />
    <result column="rainfall" jdbcType="DECIMAL" property="rainfall" />
    <result column="soil_temperature" jdbcType="DECIMAL" property="soilTemperature" />
    <result column="soil_humidity" jdbcType="DECIMAL" property="soilHumidity" />
    <result column="soil_ph" jdbcType="DECIMAL" property="soilPh" />
    <result column="monitor_time" jdbcType="TIMESTAMP" property="monitorTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="equipment_id" jdbcType="INTEGER" property="equipmentId" />
    <result column="factory_id" jdbcType="INTEGER" property="factoryId" />
    <collection property="equipment" column="equipment_id" select="com.nongxin.terminal.dao.envmonitor.EquipmentMapper.selectByPrimaryKey"/>
  </resultMap>

  <sql id="Base_Column_List">
    id, air_temperature, air_humidity, air_pressure, wind_speed, wind_direction, rainfall, 
    soil_temperature, soil_humidity, soil_ph, monitor_time, update_time, equipment_id, 
    factory_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from nx_env_monitor_sc
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from nx_env_monitor_sc
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.nongxin.terminal.entity.envmonitor.EnvMonitorSc" useGeneratedKeys="true">
    insert into nx_env_monitor_sc (air_temperature, air_humidity, air_pressure, 
      wind_speed, wind_direction, rainfall, 
      soil_temperature, soil_humidity, soil_ph, 
      monitor_time, update_time, equipment_id, 
      factory_id)
    values (#{airTemperature,jdbcType=DECIMAL}, #{airHumidity,jdbcType=DECIMAL}, #{airPressure,jdbcType=DECIMAL}, 
      #{windSpeed,jdbcType=DECIMAL}, #{windDirection,jdbcType=DECIMAL}, #{rainfall,jdbcType=DECIMAL}, 
      #{soilTemperature,jdbcType=DECIMAL}, #{soilHumidity,jdbcType=DECIMAL}, #{soilPh,jdbcType=DECIMAL}, 
      #{monitorTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, #{equipmentId,jdbcType=INTEGER}, 
      #{factoryId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.nongxin.terminal.entity.envmonitor.EnvMonitorSc" useGeneratedKeys="true">
    insert into nx_env_monitor_sc
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="airTemperature != null">
        air_temperature,
      </if>
      <if test="airHumidity != null">
        air_humidity,
      </if>
      <if test="airPressure != null">
        air_pressure,
      </if>
      <if test="windSpeed != null">
        wind_speed,
      </if>
      <if test="windDirection != null">
        wind_direction,
      </if>
      <if test="rainfall != null">
        rainfall,
      </if>
      <if test="soilTemperature != null">
        soil_temperature,
      </if>
      <if test="soilHumidity != null">
        soil_humidity,
      </if>
      <if test="soilPh != null">
        soil_ph,
      </if>
      <if test="monitorTime != null">
        monitor_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="equipmentId != null">
        equipment_id,
      </if>
      <if test="factoryId != null">
        factory_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="airTemperature != null">
        #{airTemperature,jdbcType=DECIMAL},
      </if>
      <if test="airHumidity != null">
        #{airHumidity,jdbcType=DECIMAL},
      </if>
      <if test="airPressure != null">
        #{airPressure,jdbcType=DECIMAL},
      </if>
      <if test="windSpeed != null">
        #{windSpeed,jdbcType=DECIMAL},
      </if>
      <if test="windDirection != null">
        #{windDirection,jdbcType=DECIMAL},
      </if>
      <if test="rainfall != null">
        #{rainfall,jdbcType=DECIMAL},
      </if>
      <if test="soilTemperature != null">
        #{soilTemperature,jdbcType=DECIMAL},
      </if>
      <if test="soilHumidity != null">
        #{soilHumidity,jdbcType=DECIMAL},
      </if>
      <if test="soilPh != null">
        #{soilPh,jdbcType=DECIMAL},
      </if>
      <if test="monitorTime != null">
        #{monitorTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="equipmentId != null">
        #{equipmentId,jdbcType=INTEGER},
      </if>
      <if test="factoryId != null">
        #{factoryId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.nongxin.terminal.entity.envmonitor.EnvMonitorSc">
    update nx_env_monitor_sc
    <set>
      <if test="airTemperature != null">
        air_temperature = #{airTemperature,jdbcType=DECIMAL},
      </if>
      <if test="airHumidity != null">
        air_humidity = #{airHumidity,jdbcType=DECIMAL},
      </if>
      <if test="airPressure != null">
        air_pressure = #{airPressure,jdbcType=DECIMAL},
      </if>
      <if test="windSpeed != null">
        wind_speed = #{windSpeed,jdbcType=DECIMAL},
      </if>
      <if test="windDirection != null">
        wind_direction = #{windDirection,jdbcType=DECIMAL},
      </if>
      <if test="rainfall != null">
        rainfall = #{rainfall,jdbcType=DECIMAL},
      </if>
      <if test="soilTemperature != null">
        soil_temperature = #{soilTemperature,jdbcType=DECIMAL},
      </if>
      <if test="soilHumidity != null">
        soil_humidity = #{soilHumidity,jdbcType=DECIMAL},
      </if>
      <if test="soilPh != null">
        soil_ph = #{soilPh,jdbcType=DECIMAL},
      </if>
      <if test="monitorTime != null">
        monitor_time = #{monitorTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="equipmentId != null">
        equipment_id = #{equipmentId,jdbcType=INTEGER},
      </if>
      <if test="factoryId != null">
        factory_id = #{factoryId,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.nongxin.terminal.entity.envmonitor.EnvMonitorSc">
    update nx_env_monitor_sc
    set air_temperature = #{airTemperature,jdbcType=DECIMAL},
      air_humidity = #{airHumidity,jdbcType=DECIMAL},
      air_pressure = #{airPressure,jdbcType=DECIMAL},
      wind_speed = #{windSpeed,jdbcType=DECIMAL},
      wind_direction = #{windDirection,jdbcType=DECIMAL},
      rainfall = #{rainfall,jdbcType=DECIMAL},
      soil_temperature = #{soilTemperature,jdbcType=DECIMAL},
      soil_humidity = #{soilHumidity,jdbcType=DECIMAL},
      soil_ph = #{soilPh,jdbcType=DECIMAL},
      monitor_time = #{monitorTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      equipment_id = #{equipmentId,jdbcType=INTEGER},
      factory_id = #{factoryId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="selectByEquipIdAndMeasureTime" parameterType="com.nongxin.terminal.entity.envmonitor.EnvMonitorSc" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List" />
    FROM nx_env_monitor_sc env where 1=1
    <if test="equipmentId != null">
      and equipment_id = #{equipmentId,jdbcType=INTEGER}
    </if>
    <if test="monitorTime != null">
      and monitor_time = #{monitorTime,jdbcType=TIMESTAMP}
    </if>
  </select>

  <select id="getLastMonitor" resultMap="BaseResultMap2">
        SELECT
        a.*
        FROM
        nx_env_monitor_sc a,
        ( SELECT max( monitor_time ) AS time FROM nx_env_monitor_sc
        where air_temperature is not null and soil_ph is not null GROUP BY equipment_id ) b
        WHERE
        a.monitor_time = b.time
        order by equipment_id asc
  </select>
</mapper>